.modal-content{
    width: 500px;
    height: 550px;
    border-bottom-left-radius: 80px;

    &:hover{
        cursor: auto;
    }

    .modal-header{
        background: skyblue;
        
        .shareProfileImg{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .modal-title{
            // align-items: center;
            margin-left: 10px;

        }
    }
    .modal-body{
        .modalInputSec{
            .modalInput{
                width: 100%;
                height: 100px;
                margin-top: -10px;
                margin-bottom: -10px;
                border: none;
                &:focus{
                    outline: none;
                    // box-shadow: 2px 2px 10px gray;
                }
            }
        }
        .modalUploadingItems{
            padding: 6px;
            .mediaUpload{
                border: none;
                border-radius: 50%;
                &:focus{
                    outline: none;

                }
            }
        }
        .shareButton{
            background: skyblue;
            .shareButton{
                border: none;
               
                &:hover{
                    transform: translate3D(0,-1px,0) scale(1);

                }
                &:focus{
                    outline: none;
                }
            }
            .sendIcon{
                width: 60px;
            }
        }
        
    }
}