@media only screen and (min-width:1000px) and (max-width:2000px){


.loginPage{
width: 100%;
height: 100vh;
box-sizing: border-box;
background-image: radial-gradient(circle, #9cc0f2, #8fabf4, #9193f0, #9f76e4, #b251cf);

    .loginPageWrapper{
        padding: 10px;
        position: relative;

        .login_Page_Left{
            float: left;
           .loginPageAnimation{
            width: 400px;
            height: 400px;
            margin-left: 150px;
            margin-top: 140px;
            overflow: hidden;
            // background: transparent;
            
           }
           
            

        }
        .login_Page_Right{
            background: white;
            float: right;
            margin-right: 100px;
            margin-top: 100px;
            padding: 10px;
            // border: 1px solid gray;
            // box-shadow: 5px 5px 10px (linear-gradient(to bottom, #b8c3d2, #a0b6bf, #90a8a7, #87998e, #838878));
            box-shadow: 9px 11px 23px 0px rgb(19, 19, 20);
            border-radius: 40px;
            width: 400px;
            min-height: 450px;

            .login-logo-section{
                //  align-items: center;
                display: flex;
                 justify-content: center !important;
                 padding: 10px;
                //  border: 1px solid gray;

                .loginLogo{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    box-shadow: 5px 5px 10px gray;
                   
    
                }

            }
            

            .login-section{

            //  border: 1px solid gray;
              padding: 10px;

                .loginHead{
                    text-align: center;
                    font-weight: bold;
                    // font-size: 40px;
                    color: rgba(131, 86, 34, 0.952);
                }
                .loginBox{
                    // position: relative;
                //  float: right;
                padding: 10px;

                
                   .loginUserName{
                    padding: 5px;
                 
                  }
                   .loginPassword{
                    padding: 5px;
                   }

                    .loginBtn{
                        margin-left: 5px;
                        width: 98%;

                    }
                }
            }
            .loginPageSignUp{
                display: flex;

                // padding: 5px;
                .GoForSignUp{
                    font-size: 15px;
                    margin-left: 15px;
                }

                .signUpLink{
                    margin-left: 5px;
                    cursor: pointer;
                    color: blue;
                    // font-size: 16px;
                    font-weight: bold;
                    text-decoration: none;
                    


                    &:hover{
                        text-decoration: underline;
                    }
                }

            }
            .login_Forget{
                position: relative;
                .Go_for_Forget{
                    float: right;
                    // top:-10px;
                    margin-top: -39px;
                    font-size: 15px;
                    margin-right: 15px;
                    opacity: 0.7;
                    &:hover{
                        cursor: pointer;
                        text-decoration: underline;
                        // font-weight: 500;
                        opacity: 1;
                    }
                }
            }


        }
    }

    
}
}





@media only screen and (min-width:250px) and (max-width:800px){


.loginPage{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // box-sizing: border-box;
   

    background-image: radial-gradient(circle, #9cc0f2, #8fabf4, #9193f0, #9f76e4, #b251cf);
        .loginPageWrapper{
            padding: 10px;
            // position: relative;
            display: flex;
            justify-content: center;
            // align-items: center;



    
            .login_Page_Left{
                display: none;
            }
            .login_Page_Right{
                margin-top: 150px;
                background: white;

                // border: 1px solid gray;
                // box-shadow: 5px 5px 10px (linear-gradient(to bottom, #b8c3d2, #a0b6bf, #90a8a7, #87998e, #838878));
                box-shadow: 9px 11px 23px 0px rgb(19, 19, 20);
                border-radius: 40px;
                width: 80%;
                min-height: 400px;
    
                .login-logo-section{
                    //  align-items: center;
                    display: flex;
                     justify-content: center !important;
                     padding: 10px;
                    //  border: 1px solid gray;
    
                    .loginLogo{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        box-shadow: 5px 5px 10px gray;
                       
        
                    }
    
                }
                
    
                .login-section{
                   
                  padding: 10px;
    
                    .loginHead{
                        text-align: center;
                        font-weight: bold;
                        // font-size: 40px;
                        color: rgba(131, 86, 34, 0.952);
                    }
                    .loginBox{
                        // position: relative;
                    //  float: right;
                    // padding: 10px;
    
                    
                       .loginUserName{
                        // padding: 10px;
                        // min-width: 100%;
                        // height: 20px;


                     
                      }
                       .loginPassword{
                        // padding: 10px;
                        // width: 100%;
                        // height: 20px;

                       }
    
                        .loginBtn{
                            margin-left: 5px;
                            width: 98%;
                            height: 20px;
    
                        }
                    }
                }
                .loginPageSignUp{
                    // display: flex;
    
                    padding: 5px;
                    .GoForSignUp{
                        font-size: 15px;
                        margin-left: 15px;
                    }
    
                    .signUpLink{
                        margin-left: 5px;
                        margin-top: 10px;
                        cursor: pointer;
                        color: blue;
                        // font-size: 16px;
                        font-weight: bold;
                        text-decoration: none;
                        
    
    
                        &:hover{
                            text-decoration: underline;
                        }
                    }
    
                }
                .login_Forget{
                    // position: relative;
                    // display: flex;
                    .Go_for_Forget{
                        float: right;
                        // top:-10px;
                        margin-top: -12px;
                        font-size: 15px;
                        margin-right: 15px;
                        opacity: 0.7;
                        &:hover{
                            cursor: pointer;
                            text-decoration: underline;
                            // font-weight: 500;
                            opacity: 1;
                        }
                    }
                }
    
    
            }
        }
    
        
    }

}


@media only screen and (min-width:800px) and (max-width:1000px){


    .loginPage{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
       
    
        background-image: radial-gradient(circle, #9cc0f2, #8fabf4, #9193f0, #9f76e4, #b251cf);
            .loginPageWrapper{
                padding: 10px;
                // position: relative;
                display: flex;
                justify-content: center;
                // align-items: center;
    
    
    
        
                .login_Page_Left{
                    display: none;
                }
                .login_Page_Right{
                    margin-top: 230px;
                    background: white;
    
                    // border: 1px solid gray;
                    // box-shadow: 5px 5px 10px (linear-gradient(to bottom, #b8c3d2, #a0b6bf, #90a8a7, #87998e, #838878));
                    box-shadow: 9px 11px 23px 0px rgb(19, 19, 20);
                    border-radius: 40px;
                    width: 60%;
                    min-height: 600px;
        
                    .login-logo-section{
                        //  align-items: center;
                        display: flex;
                         justify-content: center !important;
                         padding: 10px;
                        //  border: 1px solid gray;
        
                        .loginLogo{
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            box-shadow: 5px 5px 10px gray;
                           
            
                        }
        
                    }
                    
        
                    .login-section{
                       
                      padding: 10px;
        
                        .loginHead{
                            text-align: center;
                            font-weight: bold;
                            font-size: 40px;
                            color: rgba(131, 86, 34, 0.952);
                        }
                        .loginBox{
                            // position: relative;
                        //  float: right;
                        // padding: 10px;
        
                        
                           .loginUserName{
                            margin-left: 40px;
                            width: 80%;
                            // height: 40px;
                            // margin-bottom: 10px;
                           margin-bottom: 30px;


    
    
                         
                          }
                           .loginPassword{
                            // margin-bottom: 10px;
                            // width: 100%;
                            // height: 70px;
                            margin-left: 40px;
                            width: 80%;
    
                           }
        
                            .loginBtn{
                                // margin-left: 5px;
                                // width: 98%;
                                // height: 20px;

                            width: 80%;
                            margin-left: 40px;

        
                            }
                        }
                    }
                    .loginPageSignUp{
                        display: flex;
        
                        padding: 5px;

                        margin-top: 35px;
                        // font-size: 30px;
                        .GoForSignUp{
                           margin-top: 10px;
                            font-size: 20px;
                            margin-left: 15px;
                        }
        
                        .signUpLink{
                            margin-left: 5px;
                            margin-top: 13px;
                            cursor: pointer;
                            color: blue;
                            // font-size: 16px;
                            font-weight: bold;
                            text-decoration: none;
                            
        
        
                            &:hover{
                                text-decoration: underline;
                            }
                        }
        
                    }
                    .login_Forget{
                        // position: relative;
                        // display: flex;
                        .Go_for_Forget{
                            float: right;
                            margin-top:-50px;

                            font-size: 20px;
                            margin-right: 20px;
                            opacity: 0.7;
                            &:hover{
                                cursor: pointer;
                                text-decoration: underline;
                                // font-weight: 500;
                                opacity: 1;
                            }
                        }
                    }
        
        
                }
            }
        
            
        }
    
    }

