 
 @media only screen and (min-width:830px) and (max-width:2000px){

  .rightBar{
    flex: 3;
    height: calc(100vh);
    // overflow-y: scroll;


    .rightBarWraper{
        padding: 10px;
            margin-top: 20px;

            .rightSectionADS{
                width: 200px;
                height: 200px;
                // border: 1px solid black;
                margin-left: 50px;
                margin-bottom: 30px;
                object-fit: cover;
              // margin-top: 100px;
                overflow: hidden;


            }
            .rightBarADS{
              width: 300px;
              height: 440px;
            // margin-left: 150px;
              object-fit: cover;
            // margin-top: 100px;
              overflow: hidden;
              box-shadow: 9px 11px 23px 0px rgb(19, 19, 20);


        }

    }
}

 }


  
 @media only screen and (min-width:0px) and (max-width:830px){

  .rightBar{
    display: none;
   }

 }