.profileSection {
    
  .offcanvas-body {
    //     height: 300px;
    // width: 100%;
    display: flex;
    .profileList {
      // height: 375px;
      overflow-y:scroll ;
      overflow-x: hidden;
      &::-webkit-scrollbar{
        // padding: 5px;
        overflow: hidden;
      }
      .profilelistWrap {
        padding: 10px;
        display: block;
        width: 400px;
        color:black;
        display:flex;
        align-items: center;
        & span {
          margin-left:10px;
        }
        // margin-bottom: 10px;
        &:hover {
          // background: rgb(238, 219, 137);
          background-image: var(--gradient);
          cursor: pointer;
          color:white;
        }
        .profileIcons {
          font-size: 30px;
            
        }
      }
    }
  }
}
